[package]
name = "cargo-bom"
version = "0.6.4"
authors = [ "Ossi Herrala <oherrala@iki.fi>" ]
license = "MIT"
edition = "2021"

description = "Bill of Materials for Rust Crates"
homepage = "https://github.com/sensorfu/cargo-bom#readme"
repository = "https://github.com/sensorfu/cargo-bom"
readme = "README.md"

categories = ["command-line-utilities", "development-tools", "development-tools::cargo-plugins"]
keywords = ["bom", "bill-of-materials", "ingredients", "dependencies", "deps"]

[profile.release]
lto = true

[dependencies]
anyhow = "1"
cargo = "0.63"
itertools = "0.10"
structopt = { version = "0.3", default-features = false }
tabled = "0.8"
